<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
  <forms>
    <form name="stripepayment.configuration" class="StripePayment\Form\StripePaymentConfigForm"/>
  </forms>
  <hooks>
    <hook id="stripepayment.hook" class="StripePayment\Hook\StripePaymentHook" scope="request">
      <tag name="hook.event_listener" event="order-invoice.payment-extra" type="front" method="includeStripe"/>
      <tag name="hook.event_listener" event="order-invoice.after-javascript-include" type="front" method="declareStripeOnClickEvent"/>
    </hook>
  </hooks>
  <services>
    <service id="stripepayment.eventlistener" class="StripePayment\EventListeners\StripePaymentEventListener" scope="request">
      <argument id="request" type="service"/>
      <argument type="service" id="thelia.parser"/>
      <argument type="service" id="mailer"/>
      <tag name="kernel.event_subscriber"/>
    </service>
  </services>
</config>
